* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
 background-color: rgb(238, 177, 57);
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #ff8a0c;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    #ff8a0c 0%,
    rgb(250, 187, 0) 100%
  );
  color: #141212;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    #ff8a0c 0%,
    rgb(250, 187, 0) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #1d1c1c;
  background: linear-gradient(
    90deg,
    #ff8a0c 0%,
    rgb(250, 187, 0) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}



.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #171616;
}

.edit-icon {
  color: #121111;
}

@media screen and (max-width: 535px) {
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #ff8a0c;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 469px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  

}
 
@media screen and (max-width: 497px) {
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #ff8a0c;
    outline: none;
    width: 300px;
    background: transparent;
    color: #fff;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 430px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  

}
 
@media screen and (max-width: 447px) {
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #ff8a0c;
    outline: none;
    width: 300px;
    background: transparent;
    color: #fff;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  

}
 
@media screen and (max-width: 414px) {
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #ff8a0c;
    outline: none;
    width: 280px;
    background: transparent;
    color: #fff;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 385px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  

}
@media screen and (max-width: 395px) {
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #ff8a0c;
    outline: none;
    width: 260px;
    background: transparent;
    color: #fff;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 360px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  

}
 